*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold ;
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align:center;
    justify-content: center;
    margin-top: 1rem;
}

div>h1,p{
    text-align: center;
}

form{
    width: 14rem;
    height: auto;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: rgb(184, 192, 192);
    padding:1rem;
}

footer{
    background-color: rgb(201, 206, 206);
    width: 100%;
    position:absolute;
    bottom:0;
    text-align: center;
}

